[2021-09-26 14:45] saloni-15 opened #1 "Improve the Footer Section"
**Show your creativity and change the UI for the footer.**

[2021-09-29 15:01] Sugyanee commented on #1
hey, can I work on this issue?

[2021-09-29 16:07] saloni-15 commented on #1
sure @Sugyanee

[2021-09-30 08:48] saloni-15 opened #2 "Add a "back-to-top" button."
**When we scroll up the website, there should come a button which when clicked moves us to the top of the website.**

**So, add that button 🎇**

[2021-09-30 08:48] amanr11314 commented on #2
Hey an I take this issue?

[2021-09-30 09:55] saloni-15 opened #3 "Adding more sections -1"
- Create a `/men.html` page and link it to `MEN` in the navbar and to the `Explore more` button of section `Men's Collection` on the home page.

![image](https://user-images.githubusercontent.com/75828760/135429473-ba747be1-ffa6-4cfd-a4ff-33d5a873166b.png)
![image](https://user-images.githubusercontent.com/75828760/135429802-2eec3c62-0015-4e7d-b940-6e3c825cb986.png)

**📝Note:- You don't have to de

[2021-09-30 09:57] prajwal-5 commented on #3
hey, can i work on this issue

[2021-09-30 09:58] saloni-15 commented on #3
no

[2021-09-30 09:58] prajwal-5 commented on #3
please let me

[2021-09-30 10:00] saloni-15 commented on #3
ya sure @prajwal-5

[2021-09-30 10:08] saloni-15 opened #4 "Adding more sections -2"
- Create a `/women.html` page and link it to `WOMEN` in the navbar and to the `Explore more` button of section `Women's Collection` on the home page.

![image](https://user-images.githubusercontent.com/75828760/135434528-fefde985-94a8-4ed1-acc2-7cfebc0c4fb5.png)
![image](https://user-images.githubusercontent.com/75828760/135434819-80a7e460-d066-49c2-84ac-fee00cc73c21.png)

**📝Note:- You don't have

[2021-09-30 10:26] saloni-15 opened #5 "Adding more sections -3"
- Create a `/arrivals.html` page and link it to `NEW ARRIVALS` in the navbar and to the `Explore more` button of section `New Arrival's Collection` on the home page.

![image](https://user-images.githubusercontent.com/75828760/135438352-cf59422a-f1ee-453a-82e9-faaaced3ebbe.png)
![image](https://user-images.githubusercontent.com/75828760/135438439-59f9f8c6-d52b-4aab-a0dd-c05bcfc85a01.png)

**📝Note:

[2021-09-30 11:08] roshni-salpekar commented on #5
Hey @saloni-15 may I work on this?

[2021-09-30 11:40] CodesbyUnnati opened #6 "Add Smooth Scroll to the Web Page"
Hey Saloni! I  found your website really cool and want to contribute to your repo as a part of Hacktoberfest. I want to add **Smooth Scroll** and some **CSS styling**( like designing the scroll bar, etc) to your webpage as it will look good.
Can u please assign this issue to me.
Thank You! :)

[2021-09-30 11:59] saloni-15 commented on #6
Why not @CodesbyUnnati ... Go for it...💯

[2021-09-30 12:05] abhishek213-alb commented on #4
Please assign me this @saloni-15

[2021-09-30 12:12] saloni-15 commented on #4
sure @abhishek213-alb

[2021-09-30 12:40] saloni-15 commented on #6
Hey, just make sure to work on styling single component only like scroll bar as we can have more issues for different components.

[2021-09-30 12:59] JanviRaina commented on #5
Hey! I would like to contribute in this.

[2021-09-30 13:22] saloni-15 commented on #5
sure @JanviRaina

[2021-09-30 13:51] soumya495 opened #7 "Add Parallax Scrolling Effect to the images"
Hi Can I contribute by adding **Parallax Scrolling Effect** to the _latest trends_ and _best sellers_ section of your web site as a part of Hacktoberfest ?

[2021-09-30 14:07] saloni-15 commented on #7
sure @soumya495

[2021-09-30 19:47] lynx1902 opened #9 "Improving UI by changing fonts"
Hi Saloni! I really liked your website. I felt we could change the fonts to improve the user experience. Could you please assign this issue to me, if possible?

[2021-09-30 21:50] AasthaJaipuria commented on #3
Please assign me this issue. I want to work on it

[2021-09-30 22:28] AayushiChaudhry11 commented on #3
I have resolved this issue.
This is the link to the PR-
https://github.com/saloni-15/Heel2Toe/pull/11
Kindly merge it.

[2021-10-01 00:15] saloni-15 commented on #3
Hey, @AasthaJaipuria, @AayushiChaudhry11, you have to work on the issue only if you are assigned to it. As this issue was already assigned to someone, your PR will not count @AayushiChaudhry11. Please look for the issues that are not assigned to anyone and work only on it if it gets assigned to you.

[2021-10-01 00:33] #7 closed

[2021-10-01 00:33] saloni-15 commented on #9
Sure @lynx1902

[2021-10-01 01:23] srija920 commented on #2
Hello, would you like to assign this task to me?

[2021-10-01 01:25] srija920 commented on #4
Hey, Could you please assign this to me?

[2021-10-01 01:47] saloni-15 commented on #2
@srija920 Please, look for the issues that are not assigned to anyone.

[2021-10-01 02:02] kashish-d opened #13 "Images are too big and loading gets sluggish"
## 📝DESCRIPTION
-Images sizes can be compressed to make the performance better. Lazy loading can be implemented to load images as we scroll to reduce the initial load time. And we can apply a preloading animation to load contents on the page properly before showing.

## 📸Provide related Screenshot/Gifs if any.
- [x] I'm a contributor in Hacktoberfest'21.

[2021-10-01 02:03] kashish-d commented on #13
I would like to make this better, if you agree, can i work on this issue?

[2021-10-01 02:08] saloni-15 commented on #13
Sure @kashish-d, there's much need to get this thing done 😃, thankyou for raising this issue.

[2021-10-01 02:39] abhishek213-alb commented on #4
@srija920 already assigned

[2021-10-01 03:31] kashish-d commented on #13
Great, I will start working on it!😄

[2021-10-01 03:51] rishabhrathore055 opened #15 "Improve Readme.me"
## 📝DESCRIPTION
-
Hello @saloni-15   Can I improve the Documentary of the project, If needed then kindly assign issue

## 📸Provide related Screenshot/Gifs if any.
- [x] I'm a contributor in Hacktoberfest'21.

[2021-10-01 03:52] saloni-15 commented on #15
sure @rishabhrathore055

[2021-10-01 04:11] Ayan-thecodeking commented on #15
Hey I'm up for this
Can you pls assign me
@saloni-15

[2021-10-01 04:13] Ayan-thecodeking commented on #1
Assign me... If this is not done then @saloni-15

[2021-10-01 04:29] saloni-15 commented on #1
@Sugyanee are you working on it?

[2021-10-01 04:31] LaLiLuLeLoPS opened #19 "Issue with Women's section"
## 📝DESCRIPTION
-
Hey @saloni-15 I love your website both from a functional standpoint as well as design.
One issue I noticed was the redirection to the "women's" section was broken.
In the spirit of Hacktober, could you assign this task to me as part of the event?
cheers :)

- [x] I'm a contributor in Hacktoberfest'21.

[2021-10-01 04:31] salmangada opened #20 "issue-forms"
## 📝DESCRIPTION
- GitHub has recently rolled out a public beta for their issue forms feature. This would allow you to create interactive issue templates and validate them . Can I update the same for this project.

- [x] I'm a contributor in Hacktoberfest'21
![Capture](https://user-images.githubusercontent.com/70872374/135565483-581ff2f3-d653-4603-ac95-1ee7def243ca.PNG)
.

[2021-10-01 04:40] smil-thakur commented on #5
can I work too on this?

[2021-10-01 04:47] Sugyanee commented on #1
Yes, I am working on it.

[2021-10-01 04:53] #2 closed

[2021-10-01 05:00] saloni-15 commented on #19
ok @LaLiLuLeLoPS

[2021-10-01 05:01] saloni-15 commented on #20
ya sure @salmangada

[2021-10-01 05:03] #4 closed

[2021-10-01 05:05] #15 closed

[2021-10-01 05:22] saloni-15 commented on #5
this issue is already assigned for now

[2021-10-01 05:57] #19 closed

[2021-10-01 05:58] #20 closed

[2021-10-01 07:09] #9 closed

[2021-10-01 07:19] #6 closed

[2021-10-01 07:49] yogesh2k21 commented on #1
Please assign me... If this is still not done @saloni-15

[2021-10-01 09:57] #13 closed

[2021-10-01 10:08] saloni-15 opened #30 "Adding more sections -4"
## 📝DESCRIPTION
- Create a `/contact.html` page and link it to `CONTACT` in Navbar so that it can redirect to the `contact.html` page.

## 📸Provide related Screenshots/Gif if any.
![image](https://user-images.githubusercontent.com/75828760/135602826-25c6b30d-3d99-46d7-abd5-4d5b8509d261.png)

<hr/>

- [x] I'm a contributor in Hacktoberfest'21.

[2021-10-01 10:13] ManishS6 commented on #30
@saloni-15 I would like to work on this, Please assign me this task

[2021-10-01 10:52] saloni-15 opened #31 "Add Navbar to women.html page"
## 📝DESCRIPTION
- Add a navbar to the `women.html` page keeping in mind the homepage's theme.
- Please note to not make it very fancy😥
- Do share the screenshot or gif while making a PR.

## 📸Provide related Screenshot/Gifs if any.
<hr/>

- [x] I'm a contributor in Hacktoberfest'21.

[2021-10-01 11:05] Nutan2305 commented on #31
I would like to work on this issue

[2021-10-01 11:06] kashish-d commented on #31
Can i get this issue?

[2021-10-01 11:12] saloni-15 commented on #31
Sure @Nutan2305,
and @kashish-d, you can take up any other issue or can create one 😅, we now have a whole page to design, you can come up with more ideas.

[2021-10-01 11:36] ManishS6 commented on #30
I have completed the task in #32 . Kindly review my Pull Request.
Cheers.

[2021-10-01 11:42] #30 closed

[2021-10-01 12:15] swag1223 opened #33 "Add aboutUs page"
## 📝DESCRIPTION
-
we can add something like about us page where we can display the reviews of our customers about our services.

## 📸Provide related Screenshot/Gifs if any.
- [x] I'm a contributor in Hacktoberfest'21.

[2021-10-01 12:22] saloni-15 opened #34 "Improve the contact form."
## 📝DESCRIPTION
- Improve and style the Contact form in `contact.html` themed with the homepage.
- Please don't make it very fancy.🙂
- Try to make it responsive.
- You can add or remove any form input.
- Give it a heading of `Contact` with the fonts already used in the project.
- Do provide the screenshot/gif while making PR :)

## 📸Provide related Screenshots/Gifs if any.
![image](https://user-im

[2021-10-01 12:47] x-walker-x commented on #34
Hey, I am interested.

[2021-10-01 13:09] kashish-d commented on #31
Oh for sure!😄

[2021-10-01 13:12] saloni-15 commented on #34
@sunidhisachan sure

[2021-10-01 13:13] saloni-15 commented on #34
First one to comment will get assigned first :)

[2021-10-01 14:04] saloni-15 opened #35 "Add "Trending" page."
## 📝DESCRIPTION
- Create a blank `trending.html` page and on the home page, add nav li "TRENDING" to the navbar before "CONTACT" and link "TRENDING" of the navbar to redirect to `trending.html`.
- Provide the screenshot while making PR.

## 📸Provide related Screenshot/Gifs if any.
![image](https://user-images.githubusercontent.com/75828760/135632493-7fc82f92-3df7-4e70-93b1-ffaa82c78eb8.png)

- [x]

[2021-10-01 14:07] saloni-15 opened #36 "Add "Best Sellers" Page"
## 📝DESCRIPTION
- Create a blank `best.html` page and on the home page, add nav li "BEST SELLERS" to the navbar before "CONTACT" and link "BEST SELLERS" of the navbar to redirect to `best.html`.
- Provide the screenshot while making PR.

## 📸Provide related Screenshots/Gifs if any.
![image](https://user-images.githubusercontent.com/75828760/135633699-633485af-9089-4a32-8d77-0bbd498bc629.png)

- [x

[2021-10-01 14:07] toth2000 commented on #35
@saloni-15  Looking into this.

[2021-10-01 14:08] saloni-15 commented on #35
sure @toth2000

[2021-10-01 14:09] ramyamahi commented on #36
Please assign this to me @saloni-15

[2021-10-01 14:12] saloni-15 commented on #36
sure @ramyamahi

[2021-10-01 14:31] ramyamahi commented on #36
@saloni-15 Please check the PR #39

[2021-10-01 14:33] kashish-d commented on #33
Can i work on this?

[2021-10-01 14:41] swag1223 commented on #34
i feel we should have place an order form instead of contact form , because contact info is already provided in the footer!!

[2021-10-01 14:53] saloni-15 commented on #34
thanks for the suggestion, we can consider this later.

[2021-10-01 14:56] saloni-15 commented on #33
there are already many pages, we will have to design them first, so for now I'm not considering adding the "AboutUs" page too.

[2021-10-01 14:56] #33 closed

[2021-10-01 15:34] #36 closed

[2021-10-01 15:44] AnshumanDhiman commented on #34
Hi i've done minor changes can this get accepted ??

[2021-10-01 16:01] AnshumanDhiman commented on #34
:(

[2021-10-01 16:06] saloni-15 opened #42 "✅ PLEASE READ BEFORE CONTRIBUTING ✅"
### Issue Description

- Please don't work on the issue or create a PR until you are assigned to that particular issue.
- The PR created without assignment of issue will be marked as SPAM.
- And if someone is already assigned to the issue, don't comment to get assigned, the chance will be given to one who comes first.
- You are free to raise valid ISSUES and can ask for assignments.

## 🎉HAPPY CON

[2021-10-01 16:35] saloni-15 opened #43 "✨Designing the "Trending" Page✨"
### Issue Description

## Styling ideas
- Include some horizontal and vertical banners/posters, something like this

![image](https://user-images.githubusercontent.com/75828760/135655145-c97d70b0-3085-4a65-8715-e1a8f426d536.png)

- And for smaller size images, you can use images from assets or you can add images from other sources.
- Include both men's and women's footwear.
- For creating banners,

[2021-10-01 16:38] sunidhisachan commented on #34
Thanks

[2021-10-01 16:47] AnshumanDhiman commented on #43
Hey can I take this up ?

[2021-10-01 16:49] saloni-15 commented on #43
@AnshumanDhiman, go for it... make it awesome...

[2021-10-01 17:06] saloni-15 opened #44 "✨Designing the "Best Sellers" Page✨"
### Issue Description

### Issue Description
**Designing the "BEST SELLERS" page.**
## Styling ideas
- You can include a self-moving Carousel/Image-slider having footwear-related images making it like a kind of commercials.
- And for smaller size images, you can use images from assets or you can add images from other sources.
- Include both men's and women's footwear.
- Use the same theme as the h

[2021-10-01 17:36] Aditya3403 commented on #3
Please assign me this I also want to work on it.

[2021-10-01 17:39] salmangada commented on #44
Hii, you can assign to me this task.

[2021-10-01 17:39] salmangada commented on #44
@saloni-15
you can assign this task to me

[2021-10-01 17:45] saloni-15 commented on #44
sure @salmangada

[2021-10-01 18:16] #1 closed

[2021-10-01 19:20] sparsh0602 commented on #43
I wanted to contribute in hactoberfest2021.
Plz assign me this.

I have made projects using html , css and js before also , so I can do this.

[2021-10-01 19:23] saloni-15 commented on #43
Sure @sparsh0602

[2021-10-01 19:46] arunsingh009 opened #54 "[Issue] : improving footer"
### Issue Description

Footer is not looking good + it is not responsive too
![footer bug](https://user-images.githubusercontent.com/66819980/135677976-43be9495-d56b-4e8e-940f-b92e4cd33079.png)

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-01 19:46] arunsingh009 commented on #54
if you find this isuue valid then please assign this task to me

[2021-10-02 01:45] Diptenusarkar opened #56 "[contribution permission] : Hello, Can I design & create a product page?"
### Issue Description

Hello Saloni!
I can see this e-commerce website does not have a single product page, so can I create one.
and also I would like to implement some basic animation & some minor issues.

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-02 05:30] #34 closed

[2021-10-02 05:32] saloni-15 commented on #56
sure @Diptenusarkar

[2021-10-02 05:44] saloni-15 commented on #5
@JanviRaina, what's the status of this issue?

[2021-10-02 06:08] saloni-15 opened #58 "Fix contact form"
### Issue Description

- The contact page shows 2 same forms, remove the second one.
- Change the color of the body of the contact form and make it same as the homepage's body color.

![image](https://user-images.githubusercontent.com/75828760/135705634-411bc301-74bb-4d82-8db0-6bea0574ec81.png)

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-02 06:26] arunsingh009 commented on #54
@saloni-15 i am new into this open source world if i did some error in like openinig or closing of pr's then please don't mind it

[2021-10-02 06:38] bairwa25 commented on #58
@saloni-15  can I work on this?

[2021-10-02 06:41] nurulramadhona opened #59 "Add anchor style for address in footer section"
### Issue Description

I see that the color of email address (linked text) has different color than others and is underlined as well in every page that contains footer section. So, I wanna add address class and set its styles there to change the color and remove the underlined effect. It'll make change to existing and every new page created that contains footer section as well.

For now, it's on h

[2021-10-02 06:43] saloni-15 commented on #58
sure @bairwa25

[2021-10-02 06:45] saloni-15 commented on #59
also please add the link to `Best Sellers` and `Trending` pages to the footer in order same as Navbar.

[2021-10-02 06:47] saloni-15 commented on #54
@arunsingh009 no problem

[2021-10-02 07:00] kashish-d commented on #31
Great! I will start working on this.

[2021-10-02 07:07] jaya6400 commented on #5
@saloni-15 can i work on this issue want to contribute to hacktoberfest and i am a beginer

[2021-10-02 07:13] Abhishek07-0302 commented on #5
I want to contribute to this if not assigned. Please assign me.

[2021-10-02 07:27] #58 closed

[2021-10-02 07:36] bairwa25 opened #61 "[Issue] : Trending header is not visible"
### Issue Description

Trending page header is not visible.

![image](https://user-images.githubusercontent.com/43534798/135707871-7addbec6-7f7a-436d-81bb-d58a3f0b73a2.png)

It should have a background white.

![image](https://user-images.githubusercontent.com/43534798/135707924-4cc09493-0959-4e28-a9d4-fb30b5b58d25.png)

@saloni-15 can I fix this?

### Are you a Hacktoberfest'21 contributor

- [X]

[2021-10-02 07:52] nurulramadhona commented on #59
I already add address class and link for trending and best sellers on the footer as well. Please check my pull request #62

Thank you

[2021-10-02 08:48] #54 closed

[2021-10-02 08:53] #31 closed

[2021-10-02 08:58] #61 closed

[2021-10-02 09:17] bairwa25 opened #65 "[Issue] : "Trending" page footer background"
### Issue Description

Footer background is not correct.

![image](https://user-images.githubusercontent.com/43534798/135710435-32fa2cb2-aa8e-4e53-b20f-ca4f994172ee.png)

@saloni-15 can I fix this?

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-02 09:21] saloni-15 commented on #65
yes sure, make it same as that of the homepage's one

[2021-10-02 10:29] nurulramadhona commented on #59
I've fixed the conflicts and create new pull request #66 because I've removed previous branch. Please check the new one. Thank you.

[2021-10-02 10:37] saloni-15 opened #67 "Adding a poster in women's section"
### Issue Description

- Include a banner/poster related to women's footwear on the `women.html` page at the top of the page just below the navbar.
- Something like this
![image](https://user-images.githubusercontent.com/75828760/135712678-7f29a5d9-bc2f-44e0-ab6d-eb0e6328adfd.png)
- Please share the screenshot while creating the PR

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hackt

[2021-10-02 10:42] soumali28 commented on #67
I want to do this. Please assign it to me

[2021-10-02 10:43] saloni-15 commented on #67
sure @soumali28

[2021-10-02 10:48] aniketh-varma commented on #5
I would also like to contribute. Please assign me if it's available.

[2021-10-02 11:53] #65 closed

[2021-10-02 12:08] #44 closed

[2021-10-02 12:20] Diptenusarkar commented on #56
Thank You for your permission @saloni-15
But I have one question regard pull request.

[2021-10-02 12:35] saloni-15 commented on #56
what question?

[2021-10-02 12:43] Diptenusarkar commented on #56
Actually, I'm looking for how to add a checkbox.
Now I finally got it.

[2021-10-02 12:48] saloni-15 commented on #56
ok, hey can you please don't change the homepage's look, just work on styling the product page, you can remove the edits for the navbar on the homepage and that two buttons there, don't change the styling for the home page.

[2021-10-02 12:59] Diptenusarkar commented on #56
Sure, Just me some time to figure it out.

[2021-10-02 13:39] Diptenusarkar commented on #56
Hello, @saloni-15  Update Done.

[2021-10-02 14:52] nurulramadhona opened #73 "Sync NavBar & Footer Links"
### Issue Description

1. Some of tab menu's links in index.html are directing to other page outside index.html where they should be directed to index.html id.

2. Tab menu's links in other pages *.html (except index.html) are directing to their each own id where they should be directed to their own URL.

For example: I click the MEN menu on trending page, it's directed to id "#men" of trending.ht

[2021-10-02 15:00] #67 closed

[2021-10-02 15:01] #59 closed

[2021-10-02 15:04] #5 closed

[2021-10-02 15:20] arunsingh009 opened #74 "[Issue] : footer section again messed up"
### Issue Description

i can update it again someone changed the layout which is creating conjusted view when we see in smaller screen if this is valid issue then  please assign this task to me.
![messfooter2](https://user-images.githubusercontent.com/66819980/135722672-bb3fe01a-fff4-417d-acf1-400d7546bd7a.png)
![messfooter1](https://user-images.githubusercontent.com/66819980/135722677-22df2a74-de

[2021-10-02 15:47] #3 closed

[2021-10-02 16:06] saloni-15 commented on #74
hey, also, please change these texts to thinner size, these are kinda huge, try to make it minimalistic.

[2021-10-02 16:11] saloni-15 opened #75 "Adding poster to men's section."
### Issue Description

- Include a banner something like this on the men's page

![image](https://user-images.githubusercontent.com/75828760/135724255-6d065342-9439-4f90-828a-a22fff381d62.png)

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-02 16:16] #56 closed

[2021-10-02 16:16] shutupRohit commented on #75
Hey, can i work on this issue ?

[2021-10-02 16:19] shutupRohit commented on #75
can you provide me the poster or should i use any suitable free poster ?

[2021-10-02 16:24] saloni-15 commented on #75
you can use any men's footwear-related image from the internet as the background image, and over it, you can write styling with CSS.

[2021-10-02 16:32] saloni-15 commented on #73
update the link to redirect to respected pages in existing navbars and footers and sections on the homepage.

[2021-10-02 17:21] satyam73 commented on #75
Hello @saloni-15  can i add this

[2021-10-02 17:28] saloni-15 commented on #75
sure @satyam73

[2021-10-02 17:58] satyam73 commented on #75
![will-breen-QbDe8JxtUp0-unsplash](https://user-images.githubusercontent.com/85296770/135727179-4823bac2-14b0-48ab-a7ad-7e24a25e3f37.jpg)
Can I add this? @saloni-15

[2021-10-03 03:40] codersalman commented on #42
Is there anything for me to assign

[2021-10-03 03:46] nurulramadhona commented on #73
I've done it on #77
Please check.
Thank you.

[2021-10-03 04:01] saloni-15 commented on #42
i'll be opening more issues, you can see whichever suits you and can ask for assigning, moreover you can also raise issues if you want to change or add something to make website better.

[2021-10-03 08:32] #73 closed

[2021-10-03 08:56] arunsingh009 commented on #74
is it looking good or need some other changes if you want any other change please do let me know

![messfooter done](https://user-images.githubusercontent.com/66819980/135746689-3e456bfb-caf8-464d-ab5e-d27afb7e9df6.png)

[2021-10-03 09:25] saloni-15 commented on #74
it looks good.

[2021-10-03 09:51] #74 closed

[2021-10-03 13:46] InternetRamen opened #80 "Unaligned elements in footer and "quick links" looks like a link"
The elements in the footer are not aligned with each other. This *could* be aesthetically displeasing. ![image](https://user-images.githubusercontent.com/66806100/135756193-abbab678-6e6f-43f9-b3c7-0ad5b880e089.png)

Also, there isn't really a differentiator between the actual links and "quick links", so one may click on "quick links" because they think it is a link. ![image](https://user-images.gi

[2021-10-03 13:46] InternetRamen commented on #80
I'd like to be assigned this for hacktoberfest if this is a valid issue

[2021-10-03 14:43] saloni-15 commented on #80
sure @InternetRamen

[2021-10-03 14:49] satyam73 commented on #75
Hello @saloni-15 please tell me about this so I can start with this.
Q1. Can I use this image?
Q2. Do I have to add some text over image with css styling?

[2021-10-03 14:56] saloni-15 commented on #75
yes you can add this image and yes you have write over the image

[2021-10-03 15:03] saloni-15 commented on #43
hey @sparsh0602, please let me know if you are working on this issue.

[2021-10-03 15:20] roy-rajarshi commented on #80
@InternetRamen Hey, I would like to work on this. I am new to open source and would like to contribute!

[2021-10-03 15:22] InternetRamen commented on #80
I'm sorry but I wanted to contribute

[2021-10-03 15:27] saloni-15 opened #81 "Add navbar to Best Seller's page."
### Issue Description

- Include the same navbar as on the women's page and men's page on the best seller's page.
  - Add links to `HOME  MEN  WOMEN  NEW ARRIVALS  TRENDING  CONTACT`
- Use `best.css` for styling the page.
- Remove this top section on the `Best Seller's` page

![image](https://user-images.githubusercontent.com/75828760/135760682-56b0e97e-8ca8-477c-9350-40722e230b1f.png)

- Please i

[2021-10-03 15:44] bindu-r02 commented on #81
@saloni-15 - May I work on this

[2021-10-03 15:47] saloni-15 commented on #81
sure @bindu-r02

[2021-10-03 15:52] saloni-15 opened #82 "Improve the styling of text in carousel."
### Issue Description

- Style the text of the carousel on `best.html` i.e Best Seller's page such that the text is visible on all the images in the carousel.

![image](https://user-images.githubusercontent.com/75828760/135761592-853d184e-5baf-4d69-814e-38fa78468e30.png)
![image](https://user-images.githubusercontent.com/75828760/135761626-dd3d7566-f8f6-4bf2-b555-4beae8704415.png)

- Use `best.css

[2021-10-03 15:53] saloni-15 opened #83 "Improve the styling of text in carousel."
### Issue Description

- Style the text of the carousel on `best.html` i.e Best Seller's page such that the text is visible on all the images in the carousel.

![image](https://user-images.githubusercontent.com/75828760/135761592-853d184e-5baf-4d69-814e-38fa78468e30.png)
![image](https://user-images.githubusercontent.com/75828760/135761626-dd3d7566-f8f6-4bf2-b555-4beae8704415.png)

- Use `best.css

[2021-10-03 15:57] sarthakdelori commented on #82
I can try it. Assign this to me.

[2021-10-03 16:00] saloni-15 opened #84 "Add navbar on New Arrivals' page"
### Issue Description

- Include the same navbar as on the women's page and men's page on the New Arrivals' page i.e `arrivals.html`
  - Add links to `HOME    MEN    WOMEN    TRENDING    BEST SELLERS    CONTACT`
- Use `arrivals.css` for styling the page.

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-03 16:00] saloni-15 commented on #82
ok @sarthakdelori

[2021-10-03 16:03] saloni-15 opened #85 "Add navbar on Contact page."
### Issue Description

- Include the same navbar as on the women's page and men's page on the CONTACT page i.e `contact.html`
  - Add links to `HOME    MEN    WOMEN   NEW ARRIVALS   TRENDING    BEST SELLERS`
- Use `contact.css` for styling the page.

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-03 16:19] kunal-umap commented on #85
I want to work on this , would you please assign me this ?

[2021-10-03 16:20] saloni-15 commented on #85
sure @kunal-umap

[2021-10-03 16:28] ankitbajpai65 commented on #84
Please assign me this issue.

[2021-10-03 16:30] saloni-15 commented on #84
sure @ankitbajpai65

[2021-10-03 17:46] codersalman opened #88 "[Issue] : Add Single Product View Page and Product MRP"
### Issue Description

### Product MRP in Homepage Product Card and Single Product Page

![image](https://user-images.githubusercontent.com/83803180/135765374-b97d58ac-9bfe-4688-911c-eb33738c2b65.png)

### Single Product Page

![image](https://user-images.githubusercontent.com/83803180/135765428-346ddfd4-92eb-4884-ac7c-2105323819bc.png)

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am

[2021-10-03 17:50] codersalman commented on #88
If it's a Valid Issue then Can you assign this to me ?

[2021-10-03 18:11] saloni-15 commented on #88
yes you can work, but there's already a product page, you can see here
https://saloni-15.github.io/Heel2Toe/product.html
you can redesign this accordingly

[2021-10-03 18:33] satyam73 commented on #75
Hello @saloni-15 , I have created this.
Is this is good?
![navposter](https://user-images.githubusercontent.com/85296770/135766888-d8f60298-83aa-48d2-870a-c3027323edc4.PNG)

[2021-10-03 18:42] saloni-15 commented on #75
yes, it looks good

[2021-10-03 18:55] #84 closed

[2021-10-03 19:06] dukeofwest commented on #82
I would like to be assigned this task

[2021-10-03 19:09] #80 closed

[2021-10-03 19:10] #75 closed

[2021-10-03 19:16] codersalman commented on #88
Will Redesign it

[2021-10-03 19:28] abhijeet1312 commented on #42
Hello there, please assign me for some task ! I am eager to contribute to your project!

[2021-10-03 19:35] kunal-umap commented on #85
I created a pull request Was it okay ?

[2021-10-04 04:17] #85 closed

[2021-10-04 05:43] saloni-15 opened #93 "Adding a carousel in New Arrival's Page"
### Issue Description

## In `arrivals.html`
- Include a full width, self-moving Carousel/Image-slider having footwear-related images making it like a kind of commercials something like this
![carousel](https://user-images.githubusercontent.com/75828760/135798700-4f6542a5-72d4-4f33-89e9-3550445ed896.gif)

- You can use a single text, but different background images as in [Best Seller's Page](https

[2021-10-04 06:03] ankitbajpai65 commented on #93
@saloni-15 ,please assign me this issue.

[2021-10-04 06:11] saloni-15 commented on #93
sure @ankitbajpai65

[2021-10-04 09:38] bindu-r02 commented on #81
@saloni-15 - Is this fine?

![image](https://user-images.githubusercontent.com/72297585/135824943-a8e764e2-a671-409f-8797-78a7b97e2a19.png)

[2021-10-04 10:05] saloni-15 commented on #81
Yes the navbar looks good, but don't change the styling of carousel.

[2021-10-04 10:41] saloni-15 opened #94 "📝Update Readme"
### Issue Description

- Add badges for `issues open`, `pull requests open`, `forks`, and other things that can be added.

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-04 11:10] JanviRaina commented on #94
Hey,I can do this.

[2021-10-04 11:53] #94 closed

[2021-10-04 12:34] saloni-15 opened #96 "Add product cards in Women's section."
### Issue Description

- Include the product images cards on the Women's page i.e `women.html` similarly as on the homepage

![image](https://user-images.githubusercontent.com/75828760/135850919-5f2a3ca7-dcb7-4dc4-842b-90377a0b24a9.png)

- Please keep the styling and spacing for the cards same as on the homepage.
- Add the images below this banner

![image](https://user-images.githubusercontent.co

[2021-10-04 12:40] saloni-15 opened #97 "Add product cards in Men's section."
### Issue Description

- Include the product images cards on the Men's page i.e `men.html` similarly as on the homepage

![image](https://user-images.githubusercontent.com/75828760/135850919-5f2a3ca7-dcb7-4dc4-842b-90377a0b24a9.png)

- Please keep the styling and spacing for the cards same as on the homepage.
- Add the images below this banner

![image](https://user-images.githubusercontent.com/75

[2021-10-04 13:15] nafladiva commented on #97
Hey, I could work on this! Can you assign me?

[2021-10-04 13:19] saloni-15 commented on #97
Sure @nafladiva

[2021-10-04 13:41] thanh-cao commented on #96
@saloni-15  I can take this too if possible. Will be my first PR :)

[2021-10-04 13:46] saloni-15 commented on #96
you must first complete issue #93, and please let somebody else get a chance too :)

[2021-10-04 13:47] saloni-15 commented on #96
sure @thanh-cao

[2021-10-04 13:48] thanh-cao commented on #96
Awesome! Please assign it to me :)

[2021-10-04 15:12] #97 closed

[2021-10-04 16:08] stymm-1 commented on #43
I would like to work on this.

[2021-10-04 16:14] ishwarighule opened #99 "Enhancement: adding effect to product"
### Issue Description

Hey!
The hover effect can be added to the products so that they will be focused.

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-04 16:17] saloni-15 commented on #99
sure @ishwarighule, make sure to add GIF or mp4 for the same while creating PR.

[2021-10-05 03:41] #96 closed

[2021-10-05 04:35] throwexceptions opened #102 "Enhancement : Update Bootstrap Card Styling and Footer Layout"
### Issue Description

- Apply more modern style of bootstrap card and overlaying the description.
- Also I've refactor the code to use bootstrap standard grid styling.
- Adding css class shadow to provide more emphasis on details.

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-05 05:54] #102 closed

[2021-10-05 09:38] codersalman opened #103 "Make Footer Responsive"
![Screenshot_20211005_150530.jpg](https://user-images.githubusercontent.com/83803180/135998707-2c5fbab1-4825-4fd6-947f-bf9186ee139f.jpg)

Footer is distributed

[2021-10-05 10:09] thanh-cao opened #104 "[Issue] : Update responsive navbar on other pages"
### Issue Description

Navbar is currently not consistent and responsive on women.html, men.html, arrivals.html as compared to index.html. In the image below is from women.html for example. I would like to fix this.

![Screen Shot 2021-10-05 at 12 04 02 PM](https://user-images.githubusercontent.com/55603278/136003589-8122cf5f-d652-4cf0-b235-1bdff4057c91.png)

### Are you a Hacktoberfest'21 contrib

[2021-10-05 10:21] saloni-15 commented on #103
ok @codersalman

[2021-10-05 10:22] saloni-15 commented on #104
sure @thanh-cao

[2021-10-05 10:26] saloni-15 commented on #88
hey @codersalman, are you working on this?

[2021-10-05 11:25] codersalman commented on #88
Yes

[2021-10-05 13:07] codersalman commented on #88
# New Product Card Layout 🎉

![Screenshot_20211005_183500.jpg](https://user-images.githubusercontent.com/83803180/136028526-15b4ee47-e37c-468d-8aa0-ff157c276591.jpg)

@saloni-15

- [ ] New Product Card Layout
- [ ] Single Product Page Redesign

[2021-10-05 13:23] saloni-15 commented on #88
Looks good, but don't add this much of card-detail, just add one line (4-5 words)  card detail and write that MRP above the Buy Now button and instead of Rs can you use `₹` and let the buy now button be blue only, don't change it to red.

[2021-10-05 14:18] codersalman commented on #88
http://github.codersalman.me/Heel2Toe/product.html

@saloni-15

[2021-10-05 14:34] saloni-15 commented on #88
The product page looks good, you can leave the cards as they were, remove the changes you have done in cards. I suggest you do a git pull upstream first, and make it even with the original repo, then again add your changes to the product files.

[2021-10-05 14:57] codersalman commented on #88
Okay But it's done on my repo ![Screenshot_20211005_202644.jpg](https://user-images.githubusercontent.com/83803180/136048306-69e06299-c549-4661-8ae6-ccbced361b97.jpg)

Okay then I'm Pushing the Products Page Only in PR

[2021-10-05 15:04] user23ayush opened #107 "[Issue] : Trending navigation bar & bestseller section navbar"
### Issue Description

 Trending navigation bar Heel2toe brand in navbar doesn't return to homepage and bestseller section navbar styling plus navbar doesn't have a brand name and no way to return to home page.

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-05 15:07] user23ayush commented on #107
Kindly assign me this issue

[2021-10-05 15:11] saloni-15 commented on #107
Sure @user23ayush

[2021-10-05 15:29] codersalman commented on #88
I've just opened PR checkout @saloni-15

[2021-10-05 15:35] #104 closed

[2021-10-05 15:42] saloni-15 commented on #82
@dukeofwest can I get the update on this issue?

[2021-10-05 16:46] Mishthisinghal opened #110 "[Issue] : Make mens and womens collection section responsive"
### Issue Description

cards overlap on reducing size of the screen
![image](https://user-images.githubusercontent.com/79502029/136066472-82dbea41-c74f-42d7-b991-c88e300b5600.png)
![image](https://user-images.githubusercontent.com/79502029/136066696-8ebb044c-0499-46cf-a115-7bc099832fef.png)

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-05 17:18] saloni-15 commented on #110
ok @Mishthisinghal

[2021-10-05 18:57] dukeofwest commented on #82
I am currently on it. I hope to get it done soon.

[2021-10-05 18:57] Hrishabh5 opened #114 "Modify buttons and links"
### Issue Description

I think we should make buttons and links more attractive. Can I work on this task?

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-05 19:03] saloni-15 commented on #114
Sure @Hrishabh5

[2021-10-05 19:56] Prasang023 opened #116 "[Issue] : New Arrivals Page is empty"
### Issue Description

New Arrivals page is empty. It needs to be designed and built

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-05 19:56] Prasang023 commented on #116
I want to work on this. Please do assign it to me.

[2021-10-06 00:03] saloni-15 commented on #116
Sure @Prasang023

[2021-10-06 02:05] #107 closed

[2021-10-06 02:06] #82 closed

[2021-10-06 07:30] #114 closed

[2021-10-06 15:44] lynx1902 opened #119 "replacing lorem ipsum with apt titles in headings"
## 📝DESCRIPTION
Some sub headings and headings can use proper titles and texts instead of standard lorem ipsum text

- [x] I'm a contributor in Hacktoberfest'21.

[2021-10-06 18:56] ask2rg commented on #103
![image](https://user-images.githubusercontent.com/88713855/136265422-059c5c17-502e-4bc4-8e11-89e79c962318.png)
there are lot of ui and responsiveness issues check header, footer, products cards when window size is 750px-950px

[2021-10-07 04:17] #119 closed

[2021-10-07 04:18] #93 closed

[2021-10-07 08:00] Christian-Mogensen commented on #42
Hello, I was a noob and jumped the gun with working on issues before reading this page. I made a pr where I added some SEO and fixed some minor issues with images. Hope its ok.

[2021-10-07 08:39] Krishnapro opened #125 "make Navbar responsive"
### Issue Description

navbar is not responsive in every screen size make

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-07 11:52] Tanujkanti4441 commented on #125
Can i work on it please

[2021-10-07 12:11] saloni-15 commented on #125
@Krishnapro, you raised the issue for your assignment? Do you want to work on this issue?

[2021-10-07 12:13] Krishnapro commented on #125
It is accepted in hacktoberfest @saloni-15

[2021-10-08 02:17] Diptenusarkar opened #127 "✨Can I add a slide & some additional Information ?"
### Issue Description

Can I add a slide & some additional Information ?

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-08 02:19] saloni-15 commented on #127
Sure @Diptenusarkar

[2021-10-08 11:47] codersalman commented on #103
Hey @saloni-15  I Made a Responsive Footer

![image](https://user-images.githubusercontent.com/83803180/136551434-a95ba447-e71d-4d9b-ad7a-27d702d2325d.png)

![image](https://user-images.githubusercontent.com/83803180/136551568-41f2b8f6-35e7-49b6-9015-b8770241929f.png)

[2021-10-08 11:54] #125 closed, assigned to Krishnapro

[2021-10-08 13:06] codersalman commented on #103
Now the Footer is Responsive but the product cards are disturbing the website's responsiveness coz the product cards are not responsive

We need to make the product cards responsive first

# Without Product Cards

![Screenshot_20211008_183316.jpg](https://user-images.githubusercontent.com/83803180/136562204-86a671ae-9b15-4007-a592-18562bd6293e.jpg)

#With Products Cards
![Screenshot_20211008_18332

[2021-10-08 13:09] codersalman opened #131 "Make Product Cards Responsive Product Cards are not responsive Disturbing the site"
![Screenshot_20211008_183323.jpg](https://user-images.githubusercontent.com/83803180/136562553-14bacf62-098c-45b2-9971-cbea87d93d41.jpg)

[2021-10-09 03:45] codersalman commented on #103
After Responsive Products card I'll create  PR

[2021-10-09 08:54] Tanujkanti4441 opened #133 "navbars are overlapping"
### Issue Description

men, women, contacts page's navbar list is still overlapping.

![Screenshot 2021-10-09 013808](https://user-images.githubusercontent.com/86398394/136651480-9edfb298-8c26-425b-9682-167ea557dcef.png)
![Screenshot 2021-10-09 013656](https://user-images.githubusercontent.com/86398394/136651483-a2dc36a3-0ab1-438e-932e-e5d7717455c8.png)

### Are you a Hacktoberfest'21 contributor

[2021-10-09 13:30] Tanujkanti4441 commented on #133
Yes! please

[2021-10-10 13:03] #133 closed

[2021-10-12 10:18] shagun0915 opened #138 "Contact page can have a google map, locating the address of the company."
## 📝DESCRIPTION
-The Contact Page can be made to look more sophisticated by adding map showcasing the location of the company.

## 📸Provide related Screenshot/Gifs if any.
- [x] I'm a contributor in Hacktoberfest'21.

[2021-10-13 16:00] binujemimaa opened #139 "[Issue] : 'Explore Now!' button is not responsive"
### Issue Description

**#Hactoberfest!**

The 'Explore Now' button on both _Men's_ and _Women's_ pages is not responsive.
<br>
Below are the pictures of the unresponsive button -
<br>

![womens_page_button](https://user-images.githubusercontent.com/65968527/137169566-92b9041f-d2cd-4eef-ac50-1b9944df8f93.png)
**Women's Page**
<br>
![mens_page_button](https://user-images.githubusercontent.com/65968

[2021-10-13 16:29] procastihooman opened #140 "[Issue] : Blank space in homepage when on small screen"
### Issue Description

**HACKTOBERFEST!**

The homepage has a blank space when viewed on a small screen, as the responsiveness causes the images to go below by a huge margin.

<br>
Below is the attached picture -
<br>
The images are seen only when scrolled below, so on landing on the homepage all you see is a blank screen

![homepage](https://user-images.githubusercontent.com/65968527/137174943-c6

[2021-10-14 05:02] prathamesh3707 opened #142 "[Issue] : Improving UI for Card"
### Issue Description

I am creating and resolving this issue under Hacktoberfest

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-14 05:46] #142 closed

[2021-10-15 11:21] rohitdubey1352 commented on #103
Hey, @saloni-15 I would like to make it responsive on all devices, Assign me this task if exist...

[2021-10-15 11:34] codersalman commented on #103
@rohitdubey1352 you can

[2021-10-15 11:40] #139 closed, assigned to binujemimaa

[2021-10-15 11:46] saloni-15 commented on #116
@Prasang023, are you working on it?

[2021-10-15 11:47] saloni-15 commented on #138
@shagun0915, are you working on it?

[2021-10-15 11:57] saloni-15 opened #153 "[🐛Bug] : Nav link hover issue on New Arrivals page."
### Issue Description

**We can see on hovering the nav links on the `New Arrivals` page i.e `arrivals.html`, the links get shown in blue color, that's not what we want, it should be white only. Please check what's the issue and resolve this :)**

![image](https://user-images.githubusercontent.com/75828760/137482751-7ed7fecd-7d16-44aa-afc1-22726026becd.png)

### Are you a Hacktoberfest'21 contribu

[2021-10-15 11:59] Prasang023 commented on #116
@saloni-15 i am sorry for the delay, i'll complete it soon and make the PR.

[2021-10-15 12:03] rohitdubey1352 commented on #103
Thanks, I will do my work and submit it ASAP

[2021-10-15 12:07] saloni-15 opened #154 "[🐛Bug] : Fork and star badge on README are not updating."
### Issue Description

![image](https://user-images.githubusercontent.com/75828760/137483943-92978eae-253d-43bb-9fde-b52eca47d652.png)

### On the README file, the badges for `fork` and `star` are not updating dynamically. Please resolve this using the same badge-style.

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-15 12:20] codersalman commented on #103
![Screenshot from 2021-10-15 17-48-31](https://user-images.githubusercontent.com/83803180/137485563-0df0eea4-343b-4022-8dbd-d25ab712ad52.png)

the cards are overlaping each other
and in mobile its looking odd

[2021-10-15 12:33] saloni-15 opened #155 "[🐛Bug] : Nav link hover issue on Contact page."
### Issue Description

## Make the navbar on the contact page similar to the navbars on other pages.
On the `Contact` page i.e `contact.html`, the hovering style on nav links is looking odd
See here:- https://saloni-15.github.io/Heel2Toe/contact.html
Please make it similar as on other pages
Like the one on- https://saloni-15.github.io/Heel2Toe/men.html

#### 📝Please note:- The styling for the navb

[2021-10-15 12:38] saloni-15 opened #156 "[🐛Bug] : Fixing navbar on Trending page."
### Issue Description

![image](https://user-images.githubusercontent.com/75828760/137487567-4fdc9601-4b86-48b2-afac-c9afad43df1f.png)

- The navbar on the `Trending` page is odd from the navbar on other pages.
- Please make it like the navbar on other pages.

#### 📝Please note:- The styling for the navbar on the home page is different from the other pages, so don't use styling for navbar from `st

[2021-10-15 13:48] Tanujkanti4441 opened #158 "card of home page are overlapping"
### Issue Description

card of home page are still overlapping with each other in tablet size.

![Screenshot 2021-10-15 063911](https://user-images.githubusercontent.com/86398394/137497557-f9844c26-18e2-43f2-8bb8-8a5e279334ab.png)()

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-15 14:01] saloni-15 commented on #158
ok @Tanujkanti4441

[2021-10-15 15:13] sparsh-30 commented on #153
I can fix this issue. Please assign this to me.

[2021-10-15 15:13] KeithEbbett commented on #156
Can I try this issue?

[2021-10-15 15:38] saloni-15 commented on #153
ok @sparsh-30

[2021-10-15 15:41] Ayush-1712 commented on #156
No problem

[2021-10-15 19:40] #155 closed

[2021-10-15 19:49] sarthakahuja07 commented on #43
Hi, I can work on this if it isn't currently assigned to anyone @saloni-15

[2021-10-15 19:51] saloni-15 commented on #43
Sure @sarthakahuja07

[2021-10-15 20:20] sarthakahuja07 opened #163 "[Issue] : Updating contact page"
### Issue Description

Can't see text and options in the contact form and the theme doesn't align with the overall theme of the website

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-15 20:21] sarthakahuja07 commented on #163
![image](https://user-images.githubusercontent.com/82509612/137548853-1a750da2-aeb7-4588-9402-44865aaec1c7.png)

[2021-10-15 20:22] sarthakahuja07 commented on #163
@saloni-15  let me know if you need help with this issue

[2021-10-16 07:28] #153 closed

[2021-10-16 11:53] zealshah29 opened #165 "[Issue] : Fixing navigation bar."
### Issue Description

Navigation bar present on the home page shows us all the options, but on the other pages, one option is always missing.
For example: If I click on "Best seller", "Best Seller" option will disappear from navbar, and this may confuse people. Also we can change the colour of the selected page on the navbar, just to make it user friendly.

### Are you a Hacktoberfest'21 contribu

[2021-10-16 11:54] zealshah29 commented on #165
Hello so I would like to contribute to this issue under the Hactoberfest. So may I?

[2021-10-16 13:18] saloni-15 commented on #165
sure @zealshah29, just make sure to reduce the spacing between nav links, as there will be many nav links on the navbar hence can result in cluttering in smaller screens.

[2021-10-16 13:32] zealshah29 commented on #165
Okay, will note that. Thank you!

[2021-10-16 14:58] the-eduek opened #166 "Contact form not responsive"
### Issue Description

The contact form is not responsive. It only appears to work when you shrink size.
It isn't actually responsive when opened on smaller screens. I would love to work on this issue.

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-16 15:15] #163 closed, assigned to sarthakahuja07

[2021-10-16 15:18] saloni-15 commented on #166
sure @the-eduek

[2021-10-16 16:17] agnihotri099 opened #168 "[Issue] : Trending webpage is not responsive"
### Issue Description

will make some changes to make webpage responsive

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-16 16:50] saloni-15 commented on #168
ok @agnihotri099

[2021-10-18 07:34] agamjotsingh18 commented on #165
I can take this issue if not done already?

[2021-10-18 08:02] ishangupta17 opened #169 "[Issue] : kid section"
### Issue Description

I would like to try on adding kids section also
@saloni-15  pls assign this to me

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-18 10:29] pranjal-arora commented on #169
Hey @ishangupta17! I'd like to take up this issue! Please do make me an assignee.

[2021-10-18 13:39] zealshah29 commented on #165
Hello @saloni-15 , I have made the required changes in the file and followed the steps in git bash as mentioned in the readme file, but when I am trying  to make a pull request, I'm getting a message that  'There isn't anything to compare'. Can you please help me out?

[2021-10-18 14:08] saloni-15 commented on #165
You have not pushed your changes to your repository, please push it on your branch and then make a PR.

[2021-10-18 15:09] GulshanKataria opened #170 "[Issue] : View Trending button and View Bestseller button in home page is not working"
### Issue Description

View Trending button in home shouild redirectuser to trending page and view bestseller button should redirect to best seller page

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-18 15:11] #170 closed

[2021-10-20 05:16] #169 closed

[2021-10-20 07:11] saloni-15 opened #175 "✅Help: Improving this Website.✅"
### Issue Description

## You can visit the website here: https://saloni-15.github.io/Heel2Toe/
### 👉 Go and explore the website.
### 👉 Think of any changes, bugs, features, fixes that can help improve this website.
### 👉 Fork this repository.
### 👉 Raise related issues.
### 👉 Get assigned.
### 👉 Make changes.
### 👉 Create PR.
### 👉 Wait for your PR to get merged.
### 👉 Get your PR accepted in [HA

[2021-10-20 07:48] Eshller opened #176 "[Issue] : Making 'Shop by category' section more pleasant in Best Seller page"
### Issue Description

Changes needed in Shop by category section, I made some changes for your reference. I hope you'd like the changes and will accept this as an issue accept my PR, please.

Before:
<img width="1440" alt="before" src="https://user-images.githubusercontent.com/73096495/138050424-8aec2e57-c9f5-427a-9886-c3f70dee3477.png">

After:
<img width="1440" alt="after" src="https://user-ima

[2021-10-20 08:22] HashTalmiz commented on #175
Taking this up!

[2021-10-20 08:40] saloni-15 commented on #176
you can go with this and create a PR as well.

[2021-10-20 09:27] the-eduek commented on #166
@saloni-15 I'm sorry it's taken me such a long time to fix this. I've been struggling with the file structure as the main style.css overrides all changes I made in the contact.css file and I cannot unlink the main CSS file as it contains all global styles.

If someone else has made a PR for this issue, merge it so I could learn how they did it.

Again, I'm sorry.

[2021-10-20 09:46] saloni-15 commented on #166
No problem @the-eduek, it's fine.

[2021-10-20 09:48] #166 closed, assigned to the-eduek

[2021-10-20 10:44] saloni-15 commented on #176
the issue is already assigned to someone.

[2021-10-20 11:12] saloni-15 opened #179 "Fixing text color of the button."
### Issue Description

### Please change the color for text on both these buttons on the homepage to #FFFEFE.
![image](https://user-images.githubusercontent.com/75828760/138082235-6d011815-dc34-41ee-8d54-4e8d0736c500.png)
![image](https://user-images.githubusercontent.com/75828760/138082346-80110a10-601e-43cb-86af-305b975edf96.png)

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hackt

[2021-10-20 11:51] #179 closed

[2021-10-20 13:02] saloni-15 opened #182 "Fix navbar on product's page."
### Issue Description

**Navbar on the `Product`'s page is very odd from others.**
https://saloni-15.github.io/Heel2Toe/product.html

**Please make it the same as on other pages other than the one on the homepage.**

#### 📷Do provide related screenshot while creating PR.

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-21 02:32] SnehaNarendran01071998 opened #184 "[Issue] : Quantity of a Product can take negative values"
### Issue Description

**Current Behaviour**
The quantity of products can be decreased to a negative number.

**Expected Behaviour**
The quantity of products should not be negative.

**Added screenshot:**
![image](https://user-images.githubusercontent.com/32829739/138201094-367cef0c-ac17-4d07-96fb-c03b8e528351.png)

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contr

[2021-10-21 05:58] GulshanKataria opened #185 "[Issue] : Fixing navbar on Best seller page"
### Issue Description

Logo and navbar are not properly aligned in best seller page
<img width="960" alt="logo" src="https://user-images.githubusercontent.com/66901234/138219937-6b67582f-37cf-4be0-9f8c-2bb7e5ffe7e0.PNG">

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-21 05:59] Ademola409 opened #186 "Justifying the texts"
### Issue Description

The text "Explore the latest trends from Heel2Toe" and the button  should be justified at the center to make it more beautiful and consistent with the other texts that are justified at the center on the page.

![Screenshot (13)](https://user-images.githubusercontent.com/70148242/138219433-18e93ba6-2358-41cc-8ee8-c809baa82492.png)

### Are you a Hacktoberfest'21 contributor

[2021-10-21 06:25] #140 closed

[2021-10-21 06:29] GulshanKataria commented on #185
yeah but i found this overlapping issue only on best seller page rest pages do not have this overlapping issue

[2021-10-21 11:07] shidoitsuka commented on #182
@saloni-15 Check out my PR.
It looks even better now, I suppose

[2021-10-21 11:11] #182 closed

[2021-10-21 15:13] Anshika0924 opened #194 "[Issue] : Login/signup page"
### Issue Description

There should be a login/signup page for when we click add to cart or buy now nothing shows..

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-22 03:33] SnehaNarendran01071998 commented on #184
Closing this issue as PR is merged now

[2021-10-22 03:33] #184 closed

[2021-10-22 04:34] sanskriticodes commented on #175
taking this

[2021-10-22 04:37] sanskriticodes opened #197 "[Issue] : Redesign the footer"
### Issue Description

the footer of the website already looks great but I'd like to give it a new look.
@saloni-15 please assign me this issue :D

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-25 07:41] thanh-cao opened #203 "[Issue] : Fix responsiveness for tablet on Best Seller page"
### Issue Description

The Best Seller doesn't have yet responsiveness for tablet size. I would like to fix this.

![Screen Shot 2021-10-25 at 9 37 55 AM](https://user-images.githubusercontent.com/55603278/138654372-4d7cc1b4-c2a4-4bf2-9735-c15d9d221d54.png)

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-26 14:15] thanh-cao opened #206 "[Issue] : Explore now button not responsive on tablet size"
### Issue Description

The layout of Explore Now! button on men, women, and kid pages is broken on tablet size as seen in screenshots below. I would like to fix this!
![Screen Shot 2021-10-26 at 4 13 18 PM](https://user-images.githubusercontent.com/55603278/138897290-632beb42-ea33-4f55-93c5-bc3e8c444cd3.png)
![Screen Shot 2021-10-26 at 4 13 24 PM](https://user-images.githubusercontent.com/55603278

[2021-10-28 14:53] kitrakrev opened #208 "[Issue] : Related Contact hints and extra slide in Carousal Transition"
### Issue Description

Since Heel 2 Toe is a footwear store , the contact and the Hints are not relevant in the contact page. Also the carousal in New Arrivals page shows a orange slide in between the transition, which is not pleasant to see. Requesting @saloni-15  to assign me this Issue.

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-29 14:56] #186 closed, assigned to Ademola409

[2021-10-29 14:58] #203 closed, assigned to nobody

[2021-10-30 10:04] SachindraFernando opened #209 "[Issue] : Footer is missing on some pages"
### Issue Description

Footer is visible only on Home, New Arrivals, and Trending pages. Can I add footer for other pages too?

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2021-10-30 11:40] #206 closed

[2021-10-31 05:35] #168 closed

[2021-11-03 07:40] #103 closed

[2022-01-05 23:45] kamarel opened #215 "[Issue] : Adding functionality suggestion"
### Issue Description

Hi, your site looks awesome, but the "Explore More" button is not working. I suggest that this button should point to another component of the site with many articles in the same categories. You can tag me to do this. I would love to help you with this

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2022-01-06 04:37] saloni-15 commented on #215
ya sure @kamarel

[2022-10-01 19:20] Eddayavuz opened #216 "[Issue] : Best Sellers page - carousel-items' image stretch"
### Issue Description

Hello,

I realized that the carousel items' on your best sellers page stretch as the page size changes. I know how to prevent this, I've forked your project and fixed it locally. I'd love to contribute to your project by creating a PR.
Please see the difference in the links
[before the fix](https://ibb.co/M8MKHhB)
[after the fix](https://ibb.co/hdb2BCH)

### Are you a Hackto

[2022-10-02 17:15] Rashmisingh-18 commented on #209
Can I work on this issue under Hacktoberfest 2022 @saloni-15?

[2022-10-02 17:22] Rashmisingh-18 opened #217 "[Issue] : Fixing Navbar in Trending Page"
### Issue Description

The navbar in the Trending section is somewhat different from others, which makes it ambiguous, so I want to make similar navbars for that too.
Please assign me this issue under Hacktoberfest 2022.

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2022-10-08 10:18] #216 closed, assigned to nobody

[2022-10-11 11:04] eunice-ogboye commented on #175
I want to work on this

[2022-10-17 05:23] Pdfulkar opened #219 "Improving the User Interaction in the site."
### Issue Description

Here the Font on the site does not look very good.
![fontchanges on the site](https://user-images.githubusercontent.com/65910465/196095462-823bc8f4-8f13-42bb-af73-5480cb911df2.jpg)
Also some minor changes here and there.

### Are you a Hacktoberfest'21 contributor

- [X] Yes, I'am Hacktoberfest'21 contributor

[2022-10-20 16:50] Akansha0211 opened #220 "[Issue] :"

[2022-10-20 16:53] Akansha0211 commented on #220
Hey @saloni-15 , plz check whether the project requires contributing.md file for acceptance.
And let me know if I can add it.

[2022-10-24 16:13] sowmiya-venkatesan commented on #43
Hi @saloni-15, Could you please assign me this repo, would love to contribute to it